{% extends "base.html" %}

{% block content %}
<main>
  <article class="links">
    <section>

      <aside id="main-image"></aside>
      <table class="links">
        <tr>
          <td class="link_l"> <a href="http://www.linkedin.com/in/samuelsmith1/" title="LinkedIn">LinkedIn</a> </td>
          <td class="link_r"> <a href="http://goo.gl/W2rbg2" title="Google+">Google+</a></td>
        </tr>
        <tr>
          <td class="link_l"> <a href="http://github.com/smith153" title="GitHub">GitHub</a> </td>
          <td class="link_r"> <a href="{% url 'lone:foss' %}" title="FOSS Contributions">FOSS Contributions</a> </td>
        </tr>
      </table>

    </section>
  </article>
</main>

{% endblock content %}
