{% extends "base.html" %}
{% block title %} Sever Stats {% endblock title %}

{% block content %}
<main>
  <article>
    <header>
      <h4>History</h4>
    </header>
    <section>
      <p>
        This server has ran on various different pieces of hardware over the years (all of which have lived in my bed room). From a humble beginning with an AMD K6-2 450mhz CPU with 192mb ram, through a power packed Intel PIII Tualatin with 512mb ram, a too long of a stay on an Intel Atom (which is about the slowest of the three), and the current monstrous Xeon E3-1230 v5.
      </p>

      <a href="/stats/">Stat Charts!</a>
    </section>
  </article>

</main>

{% endblock content %}
